@font-face {
    font-family: "press-start";
    src: url("PressStart2P-Regular.ttf") format("truetype");
}

canvas {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 900px;
    outline: black 3px solid;
}

.central-writing {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    font-family: "press-start";
    font-size: 42px;
    opacity: 0;
}

div.menu {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -250%;
    left: -250%;
    font-family: "press-start";
    font-size: 42px;
    opacity: 0;
    width: 1200px;
}

div.menu > .text-description {
    display: block;
    text-align: center;
    color : rgb(200, 195, 195);
    padding-bottom: 50px;
}

div.menu > div.menu-buttons {
    display: flex;
    align-items: center;
}

.menu-buttons > button {
    display: inline-block;
    margin:auto;
    width: 40%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

img.character {
    opacity: 0;
}

img.btn-img {
    margin:auto;
}